*{margin: 0;padding: 0;list-style: none;text-decoration: none;}
li{list-style: none;}
body{line-height: 1.7; width: 100%;height: 100%; font-size: 15px;background-color: #f1f5f8;background-image: url("../css/images/bg.png");font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,'Hiragino Sans GB',sans-serif;}
.videoTop video{margin: 0 auto;width: 100%;text-align: center;}
img {border:0;}
a:hover{text-decoration: underline;}
/*主要框架*/
.top{width: 100%;min-width: 1000px; height: 360px;overflow: hidden; background-color: #000;position: relative;overflow: hidden;}
.middle{width: 100%;height: 360px;margin-top: 40px;}
.bottom{width: 100%;height: 40px;padding-bottom: 60px;margin-top: 40px;}

/*注册模块*/
.topInner{margin: 0 auto;width: 740px;height: 100%;}
.innerRight{width: 340px;height: 100%;float: right;position: relative;z-index: 1002;}
.innerLeft{z-index: 1001; position: absolute;cursor: pointer;top: 50%;left: -400px;width: 480px;height: 220px;padding: 47px 0;margin-top: -157px;}
.videoLogo{width: 345px;height: 124px;background-image: url("../css/images/logo.png");}
.videoPlay{width: 184px;height: 66px;margin-top: 30px;background-image: url("../css/images/home_play_button.png");}

.videoTop{position: absolute;top: 0;overflow: hidden;width: 100%;}
.videoMask{position: absolute;height: 100%;width: 100%;display: block;background: rgba(0,0,0,.3);z-index: 1000;top: 0;}
.signUp{width: 202px;margin-top: 38px;float: right;}
.title{width: 100%;height: 25px;line-height: 25px;}
.fl{float: left;}
.fr{float: right;}
.title span,.title a{color: #fff;font-size: 15px;line-height: 25px;}
.signicon{background-image: url("../css/images/signup-1.3.png");margin-left: 8px;background-position: -1px -1px;display: inline-block;width: 18px;height: 19px;vertical-align: -5px;}
.name{width: 100%;height: 35px;margin-top: 18px;}
.signUp input{background-color: #e7f1f8;font-size: 15px;}
.name input{display: inline-block; width: 92px;height: 35px;border-radius: 5px;border:1px solid #003e70;font-size: 15px;color: #555;margin: 0;}
.secName{margin-left: 18px;float: right;}
.email,.password,.btn1{width: 100%;height: 35px;margin-top: 18px;}
.btn1{border-radius: 5px;text-align:center;line-height: 35px;color: #fff;background: -webkit-gradient(linear,left top,left bottom,from(#80c3f7),to(#6bbaf8));cursor: pointer;box-shadow: inset 0 1px 0 rgba(255,255,255,.3),0 1px 1px rgba(50,50,50,.05);border: 1px solid #1D80CF;text-shadow: 0 1px 1px rgba(0,0,0,.2);}
.email input,.password input{width: 202px;height: 35px;border-radius: 5px;}
.btn2{width: 100%;height: 25px;margin-top: 18px;}
.btn2 span{color: #fff;font-size: 15px;line-height: 25px;}
.btn2 a{padding-right: 5px;}

/*中间部分*/
.mdInner{width: 740px;height: 100%;margin: 0 auto;}
.miLeft{float: left;width: 228px;height: 360px;}
.rep{box-shadow: 0 1px 1px rgba(100,100,100,.15); float: left;width: 62px;height: 62px;display: block;margin: 0 10px 10px 0;border-radius: 32px;background-color: #fff;}
.rep img{width: 50px;height: 50px;border-radius: 25px;margin: 6px;transition: .05s all ease-in-out;}
.rep:hover img {width: 64px;height: 64px;border-radius: 33px;margin: -1px;}
.miRight{float: right;width: 440px;height: 296px;padding: 27px 30px;border-radius: 5px;background-color: #fff;color: #7491A8;box-shadow: 0 1px 1px rgba(100,100,100,.15);position: relative;}
.story{display: none; width: 440px;height: 296px;position: absolute;top: 27px;left: 30px;}
.stt{height: 53px;width: 100%;}
.ttPic{display: block;float: left;}
.ttPic img{width: 46px;height: 46px;border-radius: 25px;}
.ttTxt{float: left;height: 53px;margin-left: 18px;}
.ttTxt a{display: block;color: #7491A8;}
.scon{width: 100%;margin-top: 30px;}
.scon li{height: 25px;margin-top: 12px;}
.vote{background: #B0C5D6;color: #FFF;width: 38px;height: 25px;display: inline-block;text-align: center;line-height: 25px;border-radius: 3px;float: left;font-size: 14px;}
.scon a{padding-left: 5px;color:#7491A8;}
.arrow{position: absolute;width: 9px;height: 20px;top: 237px;left: -9px;background-image: url("../css/images/signup-1.3.png");background-position: -41px 0;}
.cur img {width: 64px;height: 64px;border-radius: 33px;margin: -1px;}
.botInner{width: 740px;margin: 0 auto;height: 100%;}
.binnerLeft{width: 311px;height: 40px;float: left;font-size: 12px;}
.binnerLeft a{color: #aebdc9;}
.binnerLeft p span{color: #aebdc9;}
.ios{width: 153px;height: 38px;display: block;float: right;margin-left: 30px;background-image: url("../css/images/signup-1.3.png");background-position: 0 -23px;}
.goog{width: 183px;height: 38px;display: block;float: right;background-image: url("../css/images/signup-1.3.png");background-position: 0 -61px;}
.appLink:hover{opacity: 0.8;}
.videoPlay:hover{background-position: 0 -66px;}