*{margin: 0;padding: 0;}
body{padding: 0;margin: 0; background: url("../images/2014_worldCup.jpg") center 0 no-repeat;font:12px/1.75 Tahoma,Arial,sans-serif;background-color: #3d5e0f;}
li{list-style: none;}
a{text-decoration: none;color: #c9c9c9;}
a:hover{text-decoration: underline;}
input{outline: none;border:0;}
textarea{outline: none;border:0;}
.clear:after{content: '.';clear: both;display: block;height: 0;visibility: hidden;font-size: 0;line-height: 0;}

/*主体结构*/
.nav{margin-top: -235px; width: 100%;min-width: 1000px;height: 35px;background-color: rgba(0,0,0,0.8);position: fixed;z-index: 2;}
.main{border-radius: 0 0 0 5px; width: 960px;min-height: 900px; position: relative;margin: 235px auto 0;z-index: 1;background-color:#e8f4e4;}
.copyRight{width: 100%;padding: 8px 0 20px 0;height: 42px;}
.wrap{width: 100%;}
/*导航栏*/
.navInner{width: 960px;height: 35px;margin: 0 auto;}
.txLogo{float: left;width: 120px;height: 35px;display: block;background-image: url("../css/images/logo_20131126.png");background-repeat: no-repeat;}
.navLeft{height: 35px;float: left;padding-left: 15px;}
.nlList{float: left;line-height: 35px;padding: 0 10px;font-size: 14px;}
.nlList a:hover{text-decoration: none;}
.cur{background-color: #000;}
.cur a{color: #fff;}
.sou{float: right;width: 162px;height: 23px;border-radius: 3px;background-color: #fff;margin: 5px;overflow: hidden;}
.souBtn{float: right;width: 23px;height: 23px;cursor: pointer;background-image: url("../css/images/head_search_20120517.png");}
.sou input{width: 122px;height: 23px;padding-left: 7px;}
.souDrop{float: right;width: 11px;height: 11px;margin-top: 6px; display: block;background-image: url("../css/images/b1_20140716.png");background-position: -300px -173px;opacity: 0.6;}
.navRight{float: right;height: 35px;}
.nrList{float: left;height: 35px;width: 36px;line-height: 30px;}
.nrList a:hover{text-decoration: none;}
.navIcon{width: 20px;height: 20px;display: block;margin: 7px 0 0 8px;}
.tiIcon{background:url("../css/images/icons_20130704.png") no-repeat;}
.msgIcon{background:url("../css/images/icons_20130704.png") -20px 0 no-repeat;}
.tingzhongIcon{background:url("../css/images/icons_20130704.png") -40px 0 no-repeat;}
.tongzhiIcon{background:url("../css/images/icons_20130704.png") -60px -20px no-repeat;}
.nrS{padding: 0 5px;}

/*主体部分*/
.mainLeft{float: left;width: 640px;min-height: 900px;background-color: #fff;}
.talkBox{width: 580px;height: 150px;padding: 0 30px 10px 30px;background-image: url("../css/images/talkbox.jpg");}
.tbTitle{width: 570px;height: 30px;padding: 10px 5px 0 5px;color: #405916;font-family: 微软雅黑;}
.talkS{font-size: 16px;}
.talkA{float: right;color: #405916;font-size: 12px;font-family: Simsun;}
.talkA:hover{text-decoration: underline;}
.tbContent{border-radius: 3px;width: 578px;height: 68px;border:1px solid #d0d0d0;background-color: #fff;}
.talkArea{width: 97.9%;padding: 3px 1%;}
.tbFoot{width: 580px;height: 30px;padding: 6px 0 4px 0;}
.sendList{min-width: 45px;height: 21px;margin: 3px 6px 0 4px;float: left;}
.sico{width: 16px;height: 16px;float: left;margin: 3px 4px 0 0;background-image: url("../css/images/b1_20140716.png"); }
.icoface{background-position: -120px -33px;}
.icopic{background-position: 0 -33px;}
.icofrd{background-position: -144px -33px;}
.icoxin{background-position: -168px -53px;}
.icoxian{background-position: -272px -184px;}
.icovote{background-position: -225px -201px}
.sendList a{color: #56604a;}
.fen{float: left;color: #fff;line-height: 24px;font-size: 15px;}
.sendFun{float: right;width: 150px;height: 30px;}
.sendBtn{float: right;width: 85px;height: 27px;background-image: url("../css/images/b1_20140716.png");cursor: pointer;}
.qzone{float: right;width: 16px;height: 16px;background-position: -96px -53px;background-image: url("../css/images/b1_20140716.png");margin: 5px 5px 0 0;}
.sfTxt{float: right;color: #56604a;padding: 3px 10px 0 0;}
.mainContent{width: 640px;min-height: 500px;margin-top: 10px;}
.talklistTab{width: 580px;height: 30px;padding: 0 30px;border-bottom: 1px solid #e4e4e4;}
.tbList{float: left;padding: 0 10px;line-height: 30px;}
.tbList a{color: #666;}
.tbcur{border-bottom: 3px solid #229bd7;}
.tbcur a{color: #000;font-weight: bold;}
.talklistBody{width: 580px;padding: 10px 30px 0 30px;min-height: 300px;}
.tlbList{width: 100%;padding: 16px 0 18px;border-bottom: 1px dotted #d8d8d8;}
.userPic{float: left;width: 50px;height: 50px;padding: 4px 15px 4px 0;}
.userPic img{width: 50px;height: 50px;border-radius: 50%;}
.msgBox{width: 515px;float: right;}
.userName{width: 100%;height: 23px;line-height: 23px;font-size: 14px;color: #999;}
.nameTxt{color: #006a92;font-weight: bold;float: left;}
.nameIcon{float: left;width: 15px;height: 16px;background: url("../css/images/b1_20140716.png") -36px -126px;margin: 3px 0 0 3px;}
.msgCnt{width: 100%;font-size: 14px;}
.msgCnt a{color: #006a92;}
.media{width: 100%;padding-top: 10px;}
.pubInfo{width: 100%;height: 19px;margin-top: 10px;}
.pubLeft{float: left;color: #999;height: 19px;line-height: 19px;}
.weiboIcon{float: left;width: 16px;height: 16px;background:url("../css/images/b1_20140716.png") -210px -111px;}
.pubTime{color: #759aad;}
.zhuanCount{color:#006a92;}
.pubRight{float: right;height: 19px;line-height: 19px;}
.pubRight a{color:#006a92}
.pubRight span{margin: 0 8px 0 7px;color: #dbdbdb;}
.zanIcon{float: left;width: 16px;height: 16px;background: url("../css/images/b1_20140716.png") -290px -112px;cursor: pointer;}
.mediaA{cursor: url("http://mat1.gtimg.com/www/mb/images/cursor_zoom.cur"),pointer;}

/*右侧*/
.mainRight{float: right;width: 319px;}
.myMsg{background-image: url("../css/images/msg1.png");width: 304px;height: 100px;padding: 10px 0 0 15px;}
.myPic{width: 75px;height: 75px;float: left;}
.myPic img{width: 75px;height: 75px;border-radius: 50%;border:3px solid #4d6928;}
.myInfo{float: left;padding: 5px 0 0 15px;width:200px;height:90px;}
.myName{width: 100%;height: 19px;line-height: 19px;font-size: 14px;}
.mnTxt{color:#fbea0b;font-family: Tahoma;float: left;}
.levelIcon{width: 37px;height: 16px;float: left;margin-left: 5px;background:url("../css/images/b1_20140716.png") -54px -126px;}
.myInfoS{color:#C9E4B4;margin-top: 5px;display: block;}
.infoFoot{margin-top: 3px;width: 100%;}
.infoFoot a{color: #fbea0b;margin-right: 10px;}
.c2{height: 51px;padding-left: 25px;background-color: #d9e8d4;}
.c2List{height: 49px;float: left;min-width: 58px;border-right: 1px dotted #d8d8d8;}
.stat{height: 45px;position: relative;z-index: 5;display: inline-block;text-align: left;}
.statshu{display: block;font-size: 16px;color: #375a56;}
.statg{font-size: 12px;display: block;color: #375a56;}
.sts{margin: 0 25px 0 28px;}
.voteBox{width: 260px;height: 363px;padding: 10px 0 5px 15px;border:1px dotted #d8d8d8;margin: 10px 21px 0 21px;}
.voteBox a{color:#2B4A78}
.picBox{margin-top: 10px;}
.picBoxA{width: 112px;height: 108px;float: left;display: block;margin: 0 15px 15px 0;position: relative;}
.picBoxA img{width: 112px;height: 108px;}
.checkCir{position: absolute;bottom: 2px;width: 40px;height: 40px;left: 5px;border-radius: 50%;background: rgba(0,0,0,0.65);}
.checkIcon{display: block; background-image: url("../css/images/icon_ok.png");width: 40px;height: 40px;border-radius: 50%;}
.pbFoot{width: 100%;height: 19px;}
.recStars{padding: 21px 21px;width: 277px;border-bottom: 1px dotted #d8d8d8;}
.recHd{width: 277px;height: 19px;line-height: 19px;}
.rhLeft{float: left;font-size: 14px;padding-left: 5px;}
.rhRight{float: right;color: #375a56;}
.rhUL{width: 277px;margin-top: 10px;}
.rhList{width: 100%;height: 51px;padding-bottom: 14px;}
.rhPic{display: block;float: left;}
.rhPic img{width: 50px;height: 50px;border-radius: 50%;}
.rhlRight{float: left;width: 209px;height: 51px;padding-left: 10px;}
.rnTxt{float: left;font-size: 12px;color: #375a56;font-weight: normal;}
.rhHd{width: 219px;line-height: 17px;}
.rhSig{width: 100%;height: 14px;line-height: 14px;}
.lsn{display: block;width: 24px;height: 15px;padding: 0 4px;background-color:#b5cdae;color: #fff;line-height: 15px;margin-top: 3px;}
.moreFoot a,.hotFt a,.luFt a{color: #375a56;}
.hotDis,.latUse{padding: 21px 21px;width: 277px;border-bottom:1px dotted #d8d8d8;}
.hotHd,.luHd{width: 100%;height: 16px;}
.hotHd a,.luHd a{font-size: 14px;color: #333;}
.hotList a{float: left;color:#375a56;}
.hotList span{float: right;color: #999;}
.hotBd,.luBd{padding-top: 10px;}
.hotUL p{color: #999;}
.luA{float: left;display: block;margin-top: 7px;}
.luA img{width: 30px;height: 30px;border-radius: 5px;}
.luCon{float: left;padding-left: 10px;}
.luCon a{display: block;font-size: 12px;color: #375a56;}
.luCon span{display: block;font-size: 12px;color: #999;}
.luList{margin-bottom: 5px;}
.rightFt{height: 16px;line-height: 16px;padding: 21px 21px;}
.rightFt a{color:#375a56;}
.rightFt span{color:#375a56;}

.coInner{width: 960px;height: 100%;margin: 0 auto;text-align: center;}
.coInner a{color: #333;}
.coInner span{color: #333;}
.coInner p{color: #333;}

/*图片相框*/
.bigBox{width: 100%;background-color: #F5F5F5;}
.bbHd{width: 464px;height: 19px;padding: 11px 27px 8px 24px;}
.btnOrg,.btnMore,.btnSave{color:#006a92;float: right;display: block;line-height: 16px;margin-left: 15px;text-align: center;}
.ic{vertical-align: top; width: 16px;height: 16px;display:inline-block;margin-right: 3px;background-image: url("../css/images/b1_20140716.png");}
.iccha{background-position: -153px -145px;}
.btnBack,.btnPrev{color:#006a92;float: left;display: block;margin-right: 15px;line-height: 16px;}
.icleft{background-position: -169px -145px;}
.icright{background-position: -185px -145px;}
.icmore{background-position: -201px -145px;}
.icsave{background-position: -217px -145px;}
.bigImg{display: block;width: 100%;}
.bm{margin: 0 auto;display: block;cursor: url("http://mat1.gtimg.com/www/mb/images/cursor_minify.cur"),pointer;}

/*左侧浮动条*/
.talkfixed{position: fixed;top: 35px;width: 580px;background-color: #fff;}